{% include 'accounts/header.html' %}
{% include 'accounts/sidebar.html' %}
{% include 'accounts/topbar.html' %}



    
    <div class="content-wrapper">
    <div class="container-fluid">
    <div class="content-header">
    <section class="content">
<div class="col-lg-12">
	<div class="card card-outline card-primary">
		<div class="card-header">
			<div class="card-tools">
				<a class="btn btn-block btn-sm btn-default btn-flat border-primary " href="{% url 'insert' %}"><i class="fa fa-plus"></i> Add New</a>
			</div>
		</div>
		<div class="card-body">
        <div class="table-responsive">
	
			<table class="table tabe-hover table-bordered" >
				<thead>
					<tr>
						<th class="text-center"><center>SI NO</center></th>
						<th style= "width: 10%"><center>GC No</center></th>
                        <th style= "width: 11%"><center>GC DATE</center></th>
						
                        <th><center>CONSIGNOR NAME</center></th>
                        
                        <th><center>CONSIGNEE NAME</center></th>
                        <th style= "width: 10%"><center>FROM</center></th>
						<th style= "width: 10%"><center>To</center></th>
						<th><center>Action</center></th>
					</tr>
				</thead>
				<tbody>
					{% for i in list %}
					<tr>
						<td class="text-center"><b><center>{{i.id}}</center></b></td>
						<td><b><center>{{i.gc_no}}</center></b></td>
						<td><b><center>{{i.gc_dt}}</center></b></td>
						
						<td><b><center>{{i.consignor_name}}</center></b></td>
						
						<td><b><center>{{i.consignee_name}}</center></b></td>

						<td><b><center>{{i.from_addr}}</center></b></td>
                        <td><b><center>{{i.to_addr}}</center></b></td>
                        
						<td class="text-center">
		                    <div class="btn-group">		
							<a href="index.php?page=pancard_view&id=<?php echo $row['id'] ?>" class="btn btn-warning btn-flat " >
                              <i class="fas fa-eye"></i></a>

							  <a href="index.php?page=agent_edit&id=<?php echo $row['id'] ?>" class="btn btn-primary btn-flat ">
                              <i class="fas fa-edit"></i></a>


                        {% endfor %}	
						
						</div>
						</td>
					</tr>	
			
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>
<style>
	table td{
		vertical-align: middle !important;
	}
</style>
